#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
}

#sub-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form{
  border: 1px solid black;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#form-radio{
  display: flex;
  align-items: center;
  gap: 20px;
}

#form input{
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}

#form button{
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: lightblue;
  font-size: medium;
  font-weight: 700;
}

#form button:hover{
  background-color: gray;
  color: white;
}