#hash-card{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#hash-card input{
    width: 80%;
    height: 35px;
}

#hash-card button{
    width: 80%;
    height: 35px;
}

.hashing-section{
    text-align: left;
    font-size: medium;
}